
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}
.navbar {
    margin-bottom: 0; 
    z-index: 9999; 
}

ul.navbar-nav.ml-auto {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav.ml-auto .nav-item {
    margin-left: 20px;
}

.navbar-nav.ml-auto .nav-item:first-child {
    margin-left: 0;
}	

.navbar-nav.ml-auto .nav-link {
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    color: #566573;
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s;
    z-index: 1;
    border-radius:0.5em 0.5em 0.5em 0.5em;
}

.navbar-nav.ml-auto .nav-link:before,
.navbar-nav.ml-auto .nav-link:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#808B96;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
   	transition: opacity 0.3s;
    z-index: -1;
}

.navbar-nav.ml-auto .nav-link:before {
    border-top: 2px solid #EAEDED;
    border-bottom: 2px solid #EAEDED;
  	transform: scaleY(1);
    opacity: 0;
}

.navbar-nav.ml-auto .nav-link:after {
   transform: scale(0.5);
    opacity: 0;
}

.navbar-nav.ml-auto .nav-link:hover {
    color: white;
}

.navbar-nav.ml-auto .nav-link:hover:before {
   /* transform: scaleY(0.5);*/
    opacity: 1;
}

.navbar-nav.ml-auto .nav-link:hover:after {
 transform: scaleY(0.5);
    opacity: 1;
}
.navbar-brand {
    font-family: Gotham;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    position: relative;
}

.navbar-brand span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover span:nth-child(1) {
    transform: translateY(-15px);
    transition-delay: 0s;
}

.navbar-brand:hover span:nth-child(2) {
    transform: translateY(-15px);
    transition-delay: 0.1s; 
}
.navbar-brand:hover span:nth-child(3) {
    transform: translateY(-15px);
    transition-delay: 0.2s;
}
.navbar-brand:hover span:nth-child(4) {
    transform: translateY(-15px);
    transition-delay: 0.3s;
}

.navbar-brand:hover span:nth-child(5) {
    transform: translateY(-15px);
    transition-delay: 0.4s;
}

.navbar-brand:hover span:nth-child(6) {
    transform: translateY(-15px);
    transition-delay: 0.5s;
}
.navbar-brand:hover span:nth-child(7) {
    transform: translateY(-15px);
    transition-delay: 0.6s;
}

.navbar-brand:hover span:nth-child(8) {
    transform: translateY(-15px);
    transition-delay: 0.7s; 
}
.navbar-brand:hover span:nth-child(9) {
    transform: translateY(-15px);
    transition-delay: 0.8s;
}
.navbar-brand:hover span:nth-child(10) {
    transform: translateY(-15px);
    transition-delay: 0.9s;
}

.navbar-brand:hover span:nth-child(11) {
    transform: translateY(-15px);
    transition-delay: 1.0s;
}

.navbar-brand:hover span:nth-child(12) {
    transform: translateY(-15px);
    transition-delay: 1.1s;
}



.video-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: -50px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom: 3px solid #EEE; 
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content h1 {
    font-size: 50px; /* Taille de la police ajustable */
    font-weight: bold;
    color: #fff; /* Couleur du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5); /* Ombre */
}
.content h2 {
    font-size: 20px; /* Taille de la police ajustable */
    font-weight: bold;
    color: #fff; /* Couleur du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5); /* Ombre */
}
