
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}
.navbar {
    margin-bottom: 0; 
    z-index: 9999; 
}

ul.navbar-nav.ml-auto {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav.ml-auto .nav-item {
    margin-left: 20px;
}

.navbar-nav.ml-auto .nav-item:first-child {
    margin-left: 0;
}

.navbar-nav.ml-auto .nav-link {
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    color: #566573;
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s;
    z-index: 1;
    border-radius:0.5em 0.5em 0.5em 0.5em;
}

.navbar-nav.ml-auto .nav-link:before,
.navbar-nav.ml-auto .nav-link:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#808B96;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
   	transition: opacity 0.3s;
    z-index: -1;
}

.navbar-nav.ml-auto .nav-link:before {
    border-top: 2px solid #EAEDED;
    border-bottom: 2px solid #EAEDED;
  	transform: scaleY(1);
    opacity: 0;
}

.navbar-nav.ml-auto .nav-link:after {
   transform: scale(0.5);
    opacity: 0;
}

.navbar-nav.ml-auto .nav-link:hover {
    color: white;
}

.navbar-nav.ml-auto .nav-link:hover:before {
   /* transform: scaleY(0.5);*/
    opacity: 1;
}

.navbar-nav.ml-auto .nav-link:hover:after {
 transform: scaleY(0.5);
    opacity: 1;
}
.navbar-brand {
    font-family: Gotham;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    position: relative;
}

.navbar-brand span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover span:nth-child(1) {
    transform: translateY(-15px);
    transition-delay: 0s;
}

.navbar-brand:hover span:nth-child(2) {
    transform: translateY(-15px);
    transition-delay: 0.1s; 
}
.navbar-brand:hover span:nth-child(3) {
    transform: translateY(-15px);
    transition-delay: 0.2s;
}
.navbar-brand:hover span:nth-child(4) {
    transform: translateY(-15px);
    transition-delay: 0.3s;
}

.navbar-brand:hover span:nth-child(5) {
    transform: translateY(-15px);
    transition-delay: 0.4s;
}

.navbar-brand:hover span:nth-child(6) {
    transform: translateY(-15px);
    transition-delay: 0.5s;
}
.navbar-brand:hover span:nth-child(7) {
    transform: translateY(-15px);
    transition-delay: 0.6s;
}

.navbar-brand:hover span:nth-child(8) {
    transform: translateY(-15px);
    transition-delay: 0.7s; 
}
.navbar-brand:hover span:nth-child(9) {
    transform: translateY(-15px);
    transition-delay: 0.8s;
}
.navbar-brand:hover span:nth-child(10) {
    transform: translateY(-15px);
    transition-delay: 0.9s;
}

.navbar-brand:hover span:nth-child(11) {
    transform: translateY(-15px);
    transition-delay: 1.0s;
}

.navbar-brand:hover span:nth-child(12) {
    transform: translateY(-15px);
    transition-delay: 1.1s;
}       
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content h1 {
    font-size: 50px; /* Taille de la police ajustable */
    font-weight: bold;
    color: #fff; /* Couleur du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5); /* Ombre */
}
.content h2 {
    font-size: 20px; /* Taille de la police ajustable */
    font-weight: bold;
    color: #fff; /* Couleur du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5); /* Ombre */
}
        .card {
            height: 100%;
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc;
            text-align: center;
        }

        .card img {
            height: 200px;
            width: 100%;
            object-fit: cover;
        }

        .card .card-body {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        .card button {
            margin-top: auto;
            align-self: center;
            width:60%;
            border-radius: 20px;
        	
        }

        .btn {
            background-color: #007bff;
            border: none;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .btn:hover {
            background-color: #0056b3;
            transform: translateY(-2px); /* Animation de translation vers le haut */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre au survol */
        }
       .carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    width: 50px; /* Ajustez la largeur selon vos besoins */
    height: 50px; /* Ajustez la hauteur selon vos besoins */
    font-size: 24px; /* Ajustez la taille de la police selon vos besoins */
    color:black; /* Couleur des flèches */
    border: none;
    border-radius: 50%; /* Forme arrondie */
    transition: background-color 0.3s ease; /* Transition de couleur de fond */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgb(181, 176, 176); /* Couleur de fond au survol */
}

.carousel-control-prev {
    left: 50px; /* Position de la flèche précédente */
}

.carousel-control-next {
    right: 50px; /* Position de la flèche suivante */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none; /* Supprimez l'image de fond par défaut */
}

.carousel-control-prev:before,
.carousel-control-next:before {
    content: ''; 
    display: inline-block;
    border-top: 10px solid transparent; /* Ajustez la taille des flèches */
    border-bottom: 10px solid transparent; /* Ajustez la taille des flèches */
    border-left: 10px solid rgb(128, 128, 128); /* Couleur et taille de la flèche */
}

.carousel-control-next:before {
    border-left: none; /* Flèche suivante */
    border-right: 10px solid rgb(128, 128, 128); /* Couleur et taille de la flèche */
}
.promotion-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff5f6d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.promotion-badge span {
    font-weight: bold;
}

.card {
    position: relative;
    overflow: hidden;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    transform: scale(1.05);
}
.card-img-top {
            border-bottom: 1px solid #ddd;
        }




